<ion-view view-title="Latest Offers" cache-view="false">

    <ion-footer-bar class="bar bar-footer  has-tabs">

        <div class="tabs tabs-positive tabs-icon-top BaitakTabs">
            <a class="tab-item" ng-click="SelectType(1)">
                <i class="icon ion-arrow-return-left"></i>
                <b>For Rent</b>
            </a>
            <a class="tab-item" ng-click="SelectType(2)">
                <i class="icon ion-arrow-return-right"></i>
                <b>For Sale</b>
            </a>


        </div>


    </ion-footer-bar>
    <ion-content class=" has-header">
        <div class="">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Boxed -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5891874112692933"
                 data-ad-slot="9381770205"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>



        <div ng-repeat="item in Featured.Data" >
            <div class="list list-borderless  card"  >
                <div class="item text-center BaitakTabs">
                    {{item.PropertyType}} for {{item.AdvertismentType}}
                </div>
                <div class="item item-thumbnail-left item-text-wrap" style="min-height: 150px!important;">
                    <img src="{{item.Image}}" on-Image-Error="">
                    <h2>{{item.Title}}</h2>
                    <p>{{item.Date}}</p>
                </div>

                <div class="tabs tabs-icon-left BaitakTabs">
                    <a class="tab-item ">

                        <b> {{item.Price}}</b>
                    </a>
                    <a class="tab-item">
                        <i class="icon "> <img src="img/rooms-icon.png" /> </i>
                        <b>{{item.Bedrooms}}</b>
                    </a>
                    <a class="tab-item">
                        <i class="icon "> <img src="img/bathrooms-icon.png" /> </i>
                        <b> {{item.Bathrooms}}</b>
                    </a>
                    <a class="tab-item">
                        <i class="icon "> <img src="img/area-icon.png" /> </i>
                        <b>{{item.Size}}<sup>Sqrt</sup></b>
                    </a>
                    <a class="tab-item" href="#/app/OfferDetails/{{item.ID}}">
                        <i class="icon ion-ios-information-outline"></i>
                        <b>View</b>
                    </a>
                </div>
            </div>
        </div>


        <div class="clearfix" style="padding-bottom: 50px!important;"> </div>

