<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable HeaderBG">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon BaitakButtonHeader" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">

    <ion-content overflow-scroll="true" class="menu1">
      <div class="profile-card ">
        <img class="full-image" src="http://image.baitak.ae/DesignFiles/Layouts/images/logo-light.png">

      </div>
      <ion-list class="list">



        <a class="item item-icon-left  "  menu-close href="#/app/searchCollege">
          <i class="icon ion-ios-home-outline"> </i>
          Home
        </a>
        <a class="item item-icon-left  "  menu-close href="#/app/FeaturedAdvertisments">
          <i class="icon ion-fireball"> </i>
          Featured Offers
        </a>
        <a class="item item-icon-left  "  menu-close href="#/app/LatestAdvertisments">
          <i class="icon ion-ios-loop"> </i>
          Latest Advertisements
        </a>

        <a class="item item-icon-left  "  menu-close href="#/app/FeaturedCompaines">
          <i class="icon ion-ribbon-b"> </i>
          Featured Companies
        </a>

      </ion-list>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
